<footer>
    <div class="bg-black text-white px-5 py-5 text-center">
        <div class="footer-copyright text-center py-3">© 2020 Copyright
            <a href="{{ path('app_home') }}" target="_blank">symfocorps.com</a>
        </div>
    </div>
</footer>