{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}
    <span class="bg-transparent shadow fixed top-0 inset-x-0 p-5">
        <span class="text-indigo-700 flex flex-row justify-center">HELLO</span>
    </span>
{% endblock %}
