<h1>
    Demande de réinitialisation de mot de passe
</h1>


<span>
    Bonjour, veuillez confirmer votre volonté de changer de mot de passer <br />

    <a href="{{ url('app_reset_password_check', { id: user.id, token: user.passwordResetToken}) }}">Confirmer</a>
</span>